.contentBlock_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  box-shadow: #615d5da1 0px 13px 10px;
}



.contentBlock__image{
  width: 325px;
  height: 245px;
  /* image stretch to fill */
  object-fit: cover;
  overflow: hidden;
  
}

.contentBlock__text_bottom,
.contentBlock__text_top {
  position: absolute;
  font-size: .75rem;
  line-height: 1;
  color: rgb(0, 0, 0);
  max-width: 325px;
}

.contentBlock__text_top{
  top: 0;
}

.contentBlock__text_top h2{
  padding-left : 0.5rem;
  font-weight: 900;
}

.contentBlock__text_bottom{
  bottom: 0;
  background-color: rgba(240, 248, 255, 0.664);
  width: 100%;
}

.contentBlock__text_bottom p{
  padding-left : 0.5rem;
}
