.NavBar_container {
  display: flex;
  justify-content: space-evenly;
}

.NavBar_container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  margin: .5rem 0rem;
}

.NavBar_container ul li {
  list-style: none;
  margin: .5rem .5rem;

}




@media screen and (max-width: 768px){
  .NavBar_container ul{
    display: flex;
    flex-direction: column;
  }
}